@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" asp-for="Title" />
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input type="text" class="form-control" id="Author" asp-for="Author" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
